<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for v in just_a_variable %}

    {{ v.course_subject }} {{ v.course_level }}, {{ v.course_title }}, {{ v.course_type }} Units: {{v.course_units}}<br>
    <ul>
    {% for section in v.section.all %}
     <li>{{ section.class_number }}
        {% for schedule in section.section_schedule.all %}
        {{ schedule.days }} {{ schedule.room }}

        {% endfor %}

     </li>



    {% endfor %}
    </ul>
{% endfor %}



</body>
</html>