<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for v in just_a_variable %}

    {{ v.course_subject }} {{ v.course_level }}, {{ v.course_title }}, {{ v.course_type }} <b>Units:</b> {{v.course_units}}<br>
    <ul>
    {% for section in v.section.all %}
     <li>{{ section.class_number }}
        {% for schedule in section.section_schedule.all %}
        <b>Days:</b> {{ schedule.days }} <b>Room:</b>{{ schedule.room }} <b>Instructor:</b> {{ schedule.instructor }}

        {% endfor %}

     </li>



    {% endfor %}
    </ul>
{% endfor %}



</body>
</html>